<style> .nb{ font-weight:normal } </style>
<style> .nbs{ font-weight:normal; font-size:small } </style>
<script type="text/javascript">
<!--
   function toggle_visibility(id) {
      var e = document.getElementById(id);
      if(e.style.display == 'block')
         e.style.display = 'none';
      else
         e.style.display = 'block';
   }
//-->
</script>
<br>
<label for="placeholder">
<span class='nb'>Specify the parameters that will be used to contextualise the container which is created for you. See <a target="_blank" href="https://swan.web.cern.ch/content/faq">the online SWAN guide</a> for more details.</span>
</label>
<br><br>
<label for="LCG-rel">Software stack <a href="#" onclick="toggle_visibility('lcgReleaseDetails');"><span class='nbs'>more...</span></a>
<div style="display:none;" id="lcgReleaseDetails">
   <span class='nb'>The software stack to associate to the container. See the <a target="_blank" href="http://lcginfo.cern.ch/">LCG package info</a> page.</span>
</div>
</label>
<select name="LCG-rel">
    <option value="LCG_94" selected>94</option>
    <option value="LCG_94python3">94 Python3</option>
    <option value="LCG_94python3_nxcals">NXCals</option>
    <option value="LCG_93">93</option>
    <option value="LCG_93python3">93 Python3</option>
    <option value="LCG_92">92</option>
    <option value="LCG_92python3">92 Python3</option>
    <option value="LCG_91">91</option>
    <option value="LCG_91python3">91 Python3</option>
    <option value="LCG_90">90</option>
    <option value="LCG_90python3">90 Python3</option>
    <option value="LCG_89">89</option>
    <option value="LCG_89python3">89 Python3</option>
    <option value="LCG_88">88</option>
    <option value="LCG_88Py3">88 Python3</option>
    <option value="LCG_87">87</option>
    <option value="LCG_86">86</option>
    <option value="LCG_85swan3">85 SWAN3</option>
    <option style="border-bottom:1px solid rgba(153,153,153,.3); margin:-10px 0 4px 0" disabled="disabled"></option>
    <option value="dev3/latest">Development Bleeding Edge (might be unstable)</option>
    <option value="dev3python3/latest">Development Bleeding Edge Python3 (might be unstable)</option>
</select>
<br>
<label for="scriptenv">Environment script <a href="#" onclick="toggle_visibility('scriptenvDetails');"><span class='nbs'>more...</span></a>
<div style="display:none;" id="scriptenvDetails">
   <span class='nb'>User-provided bash script to define custom environment variables. The variable CERNBOX_HOME is resolved to the proper /eos/user/u/username directory.</span>
</div>
</label>
<input type="text" name="scriptenv" placeholder="e.g. $CERNBOX_HOME/MySWAN/myscript.sh">
<br>

<input type="hidden" name="platform" value="x86_64-centos7-gcc7-opt"/>
<input type="hidden" name="ncores" value="2"/>
<input type="hidden" name="memory" value="8"/>
<input type="hidden" name="spark-cluster" value="none"/>

