<html>
<head></head>
<body bgcolor="white">
<p>
<img src="./maintenance/cernbox-grey.png"/>
<p>
<b>CERNBOX Service is under maintenance and is temporarily unavailable.</b>
<p>
Incident under investigation. <br>
<p>

<a href="https://cern.service-now.com/service-portal/view-outage.do?from=CSP-Service-Status-Board&n=<%= @maintenance_ssb %>"><%= @maintenance_ssb%></a>
</body>
