#-------------------------------------------------------------------------------
# Copyright (c) 2012-2013 by European Organization for Nuclear Research (CERN)
#
# File: nginx.eos.conf
# Author: Justin Salmon <jsalmon@cern.ch>
#-------------------------------------------------------------------------------
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public License
# along with This program.  If not, see <http:#www.gnu.org/licenses/>.
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# The EOS nginx service uses two virtual hosts with different authentication
# schemes to allow flexible authenticated access.
#
# The first vhost uses SSL with (optional) client certificate verification. If
# the client provides no certificate (or an invalid one) then limited access
# will still be granted (as user "nobody") and the traffic will still be 
# encrypted via SSL. The default port for this is 443 (in /etc/sysconfig/nginx)
# 
# The second vhost runs Kerberos authentication over SSL. It does not ask for
# or attempt to verify a client SSL certificate. The Kerberos credentials
# must be supplied, otherwise access will be denied (the gateway will return a
# 401 Authorization Required code). The default port for this is 8443.
#-------------------------------------------------------------------------------


user              EOS_NGINX_USER;
worker_processes  32;
error_log         /var/log/nginx/error.log error;

pid               /var/run/nginx.pid;

env OPENSSL_ALLOW_PROXY_CERTS;

worker_rlimit_nofile 10000;

events {
    worker_connections  1024;
}


http {

## for debugging leave requests in the files
#client_body_in_file_only on;
#client_body_in_single_buffer on;
#client_body_temp_path /var/spool/nginx/tmp/client_body/;


     # SUBREQUEST-AUTH
     upstream auth_backend {
     ip_hash;
     server <%= @auth_backend_server%>;
     keepalive 16;
}

     upstream blender_backend {
     ip_hash;
     server <%= @blender_backend_server%>;
     keepalive 16;

}

     upstream eostest_mgm_backend {
         ip_hash;
     	 server <%= @eostest_mgm_backend_server%>;
	 keepalive 128;
}

     upstream eoslhcb_mgm_backend {
         ip_hash;
	 server eoslhcb.cern.ch:8000;
	 keepalive 128;
}

     upstream eoscms_backend {
         ip_hash;
	 server eoscms.cern.ch:8000;
	 keepalive 128;
}


     upstream eosuser_mgm_backend {
         ip_hash;
     	 server <%= @eosuser_mgm_backend_server%>;
	 keepalive 128;
}

     upstream eosmedia_mgm_backend {
         ip_hash;
	 server eosmedia.cern.ch:8000;
	 keepalive 128;
}

     upstream eospublic_mgm_backend {
         ip_hash;
	 server eospublic.cern.ch:8000;
	 keepalive 128;
}

     upstream owncloud_prod_backend {
         ip_hash;
     	 server <%= @owncloud_prod_backend_server%>;
	 keepalive 128;
}


      upstream owncloud_test_backend {
         ip_hash;
     	 server <%= @owncloud_test_backend_server%>;
         keepalive 128;
}


      upstream wopi_backend {
         ip_hash;
     	 server <%= @wopi_backend_server%>;
         keepalive 128;
	 }


     # CERN Web Services Apache Server for cernbox project docs and repos
     upstream cernboxdistr443_backend {
         ip_hash;
         server cernboxdistr.web.cern.ch:443;
         keepalive 128;
        }

     # CERN Web Services Apache Server for cernbox project docs and repos
     upstream cernboxdistr80_backend {
         ip_hash;
         server cernboxdistr.web.cern.ch:80;
         keepalive 128;
        }



    proxy_read_timeout 360; # chunked upload of the very large files (>5GB) times out on the last chunk with the default 60s --> bump it up... 

    default_type  application/octet-stream;

    log_format    main '$remote_addr - $remote_user [$time_local] "$request" '
                       '$status $body_bytes_sent "$http_referer" '
                       '"$http_user_agent" "$http_x_forwarded_for" $request_time';
    access_log         /var/log/nginx/access.log 
                       main;

    sendfile               on;
    keepalive_timeout      65;
    client_max_body_size   20000m;
    tcp_nopush            on;
    #gzip                  on;
    #keepalive_timeout     0;
    

    # Load config files from the /etc/nginx/conf.d directory
    # The default server is in conf.d/default.conf
    # include /etc/nginx/conf.d/*.conf;

    # set maximum file size for upload/download 
    proxy_max_temp_file_size 8000m;


    # Virtual host 1: SSL with client certificate authentication
    server {
        server_name  EOS_NGINX_HOSTNAME;
        listen       EOS_NGINX_CLIENT_SSL_PORT;

        ssl                    on;
        ssl_protocols          TLSv1 TLSv1.1 TLSv1.2;
        ssl_certificate        EOS_NGINX_SSL_CERTIFICATE;
        ssl_certificate_key    EOS_NGINX_SSL_KEY;
        ssl_client_certificate EOS_NGINX_SSL_CLIENT_CERTIFICATE;
        ssl_verify_client      optional;
        ssl_verify_depth       10;

    	ssl_ciphers 'ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS';
    	ssl_prefer_server_ciphers on;

	ssl_dhparam EOS_NGINX_SSL_DHPARAM_PEM;

    	#ssl_ciphers            ALL:!kEDH!ADH:RC4+RSA:+HIGH:+EXP;	

    	ssl_session_cache      shared:SSL:10m;
        ssl_session_timeout    10m;

        access_log /var/log/nginx/gsi.access.log main;
        error_log  /var/log/nginx/gsi.error.log  error; #debug; 

       # DIRECT USE WEBDAV ENDPOINT

       location ~ ^/cernbox/webdav(.*) {

            set $path $1;

	    # this is a default mapping, we strip off remote.php/webdav stuff from the request within EOS MGM
	    # but we avoid creating paths with double slashes // (some internal functions such as quota did not like it)
            set $CBOX_CLIENT_MAPPING "/cernbox/webdav/";
            set $CBOX_SERVER_MAPPING "/";

	    # with the SSL client cert we currently do not provide the /home shortcut -- users should address their home directories explicitly

            if ($path ~ "^/eos/user(.*)") {
               proxy_pass http://eosuser_mgm_backend/cernbox/webdav$path;
            }

            if ($path ~ "^/eos/project(.*)") {
               proxy_pass http://eosuser_mgm_backend/cernbox/webdav$path;
            }

            if ($path ~ "^/eos/dev(.*)") {
	       proxy_pass http://eosdev_mgm_backend/cernbox/webdav$path;
	    }

	    if ($path ~ "^/eos/media(.*)") {
	       proxy_pass http://eosmedia_mgm_backend/cernbox/webdav$path;
	    }

            if ($path ~ "^/eos/experiment(.*)") {
	       proxy_pass http://eospublic_mgm_backend/cernbox/webdav$path;
	    }

            if ($path ~ "^/eos/theory(.*)") {
	       proxy_pass http://eospublic_mgm_backend/cernbox/webdav$path;
	    }

            if ($path ~ "^/eos/engineering(.*)") {
	       proxy_pass http://eospublic_mgm_backend/cernbox/webdav$path;
	    }

            if ($path ~ "^/eos/scratch(.*)") {
               proxy_pass http://eostest_mgm_backend/cernbox/webdav$path;
            }

	    
            proxy_set_header   Host               $host;
            proxy_set_header   X-Real-IP          $remote_addr;
            proxy_set_header   X-Forwarded-For    $proxy_add_x_forwarded_for;
            proxy_set_header   SSL_CLIENT_S_DN    $ssl_client_s_dn;
            proxy_set_header   SSL_CLIENT_I_DN    $ssl_client_i_dn;
            proxy_set_header   SSL_CLIENT_VERIFY  $ssl_client_verify;

            proxy_set_header CBOX-CLIENT-MAPPING $CBOX_CLIENT_MAPPING;
            proxy_set_header CBOX-SERVER-MAPPING $CBOX_SERVER_MAPPING;

            client_body_buffer_size     128k;

            proxy_connect_timeout       90;
            proxy_send_timeout          90;
            proxy_read_timeout          90;

            proxy_buffer_size           4k;
            proxy_buffers               4 32k;
            proxy_busy_buffers_size     64k;
            proxy_temp_file_write_size  64k;
        }

        # Proxy download 
        location ~* ^/internal_redirect/(.*):(.*?)/(.*) {

            # Do not allow people to mess with this location directly
            # Only internal redirects are allowed
            internal;
            
            # Necessary when using variable proxy_pass directive
            #resolver 137.138.16.5 137.138.17.5;
	    resolver 127.0.0.1; # use local caching daemon
    	    resolver_timeout 3600s;

            # Location-specific logging
            access_log /var/log/nginx/x509.internal_redirect.access.log main;
            error_log  /var/log/nginx/x509.internal_redirect.error.log  error; #debug;

            # Extract download url from the request
            set $download_host $1;
            set $download_port $2;
            set $download_uri  $3;

            # Compose download url
            set $download_url http://$download_host:$download_port/$download_uri?$args;

            # Set download request headers
            proxy_set_header Host          $download_host:$download_port;
            proxy_set_header Authorization '';

            # The next two lines could be used if your storage 
            # backend does not support Content-Disposition 
            # headers used to specify file name browsers use 
            # when save content to the disk
            # proxy_hide_header Content-Disposition;
            # add_header Content-Disposition 'attachment; filename="$args"';

            # Do not touch local disks when proxying 
            # content to clients
            proxy_max_temp_file_size 8000m;


            # If we are redirecting externally, return the redirect response
            # back to the client.
            set $redirect_externally EOS_NGINX_REDIRECT_EXTERNALLY;
            if ($redirect_externally)
            {
                return 307 $download_url;
            }

            # Otherwise, download the file directly from the backend and stream
            # it to the client.
            proxy_pass $download_url;
        }
    }


    # Virtual host 3: SSL with ldap basic authentication
    server {

        server_name  EOS_NGINX_HOSTNAME;
        listen       EOS_NGINX_LDAP_SSL_PORT;

        ssl                    on;
        ssl_protocols          TLSv1 TLSv1.1 TLSv1.2;
        ssl_certificate        EOS_NGINX_SSL_CERTIFICATE;
        ssl_certificate_key    EOS_NGINX_SSL_KEY;
        ssl_client_certificate EOS_NGINX_SSL_CLIENT_CERTIFICATE;
        ssl_verify_client      off;
        ssl_verify_depth       10;

	ssl_ciphers 'ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS';
        ssl_prefer_server_ciphers on;

#	ssl_ciphers            ALL:!kEDH!ADH:RC4+RSA:+HIGH:+EXP;	

	ssl_session_cache      shared:SSL:10m;
        ssl_session_timeout    10m;


        # Log all SSL traffic here	
        access_log /var/log/nginx/ssl.access.log main;
        error_log  /var/log/nginx/ssl.error.log error; #debug; #error

	if ($remote_user ~ "^(.{0,1})(.*)")  
	{ 
	 set $user_letter $1; 
	} 

       # sync client update traffic
       location ~ /cernbox/update/(.*) {
           # set maximum file size for upload/download 
           proxy_buffering off;
           proxy_read_timeout 900;
           send_timeout 900;
           proxy_set_header   CBOX-CLIENT-IP $remote_addr; # used to selectively enable certain client IPs for testing by the update component on the server
           proxy_pass https://owncloud_prod_backend/cernbox/update/$1$is_args$args;
           proxy_http_version 1.1;
           proxy_set_header Connection ""; # for keep-alive to work http://stackoverflow.com/questions/10395807/nginx-close-upstream-connection-after-request  
       }




	# web traffic to Hugo
	location / {
	    # set maximum file size for upload/download 
	    proxy_buffering off;
	    # allow downloading very large files (videoarc), there are no reads until the file is fully staged in the local disk
	    proxy_read_timeout 900;
	    send_timeout 900;
	    
	    proxy_pass https://OC_BACKEND/;
            #proxy_set_header   Authorization '';
	    proxy_http_version 1.1;
	    proxy_set_header Connection ""; # for keep-alive to work http://stackoverflow.com/questions/10395807/nginx-close-upstream-connection-after-request	
	}

	# redirect specific PUT requests internally to avoid empty body problem
        location /index.php/apps/files_texteditor/ajax/savefile {
            # set maximum file size for upload/download 
            proxy_buffering off;
            # allow downloading very large files (videoarc), there are no reads until the file is fully staged in the local disk
            proxy_read_timeout 900;
            send_timeout 900;

            proxy_pass http://blender_backend/cernbox/blender/owncloud/index.php/apps/files_texteditor/ajax/savefile;
            #proxy_set_header   Authorization '';
            proxy_http_version 1.1;
            proxy_set_header Connection ""; # for keep-alive to work http://stackoverflow.com/questions/10395807/nginx-close-upstream-connection-after-request  
	    #return 410 "CERNBOX service has migrated to new storage backend. Please migrate your client: http://cern.ch/cernbox";
	    #add_header Content-Type plain/text;
	}

	# redirect specific PUT requests internally to avoid empty body problem
        location ~ ^/remote.php/dav/files/(.*) {
            # set maximum file size for upload/download 
            proxy_buffering off;
            proxy_read_timeout 900;
            send_timeout 900;
            proxy_pass http://blender_backend;
            proxy_http_version 1.1;
            proxy_set_header Connection ""; # for keep-alive to work http://stackoverflow.com/questions/10395807/nginx-close-upstream-connection-after-request  
	}

	# redirect specific PUT requests internally to avoid empty body problem
        location ~ ^/remote.php/webdav/(.*) {
            # set maximum file size for upload/download 
            proxy_buffering off;
            proxy_read_timeout 900;
            send_timeout 900;
            proxy_pass http://blender_backend/cernbox/blender/owncloud/remote.php/webdav/$1$is_args$args;
            proxy_http_version 1.1;
            proxy_set_header Connection ""; # for keep-alive to work http://stackoverflow.com/questions/10395807/nginx-close-upstream-connection-after-request  
	}


	# redirect specific PUT requests internally to avoid empty body problem
        location ~ ^/public.php/webdav/(.*) {
            # set maximum file size for upload/download 
            proxy_buffering off;
            proxy_read_timeout 900;
            send_timeout 900;
            proxy_pass http://blender_backend/cernbox/blender/owncloud/public.php/webdav/$1$is_args$args;
            proxy_http_version 1.1;
            proxy_set_header Connection ""; # for keep-alive to work http://stackoverflow.com/questions/10395807/nginx-close-upstream-connection-after-request  
	}

	# redirect specific PUT requests internally to avoid empty body problem
         location ~ ^/swanapi/(.*) {
         proxy_pass http://blender_backend/cernbox/blender/swanapi/$1$is_args$args;
         proxy_set_header Connection ""; # for keep-alive to work http://stackoverflow.com/questions/10395807/nginx-close-upstream-connection-after-request                                                                                      
	  }
	
	 location ~ ^/internal_owncloud_nouridecode/root {
	    internal;
	    #https://stackoverflow.com/questions/28684300/nginx-pass-proxy-subdirectory-without-url-decoding
	    #rewrite ^ $request_uri;
            #rewrite ^/internal_owncloud_nouridecode/root/(.*) $1 break;
            #return 400; # if the second rewrite won't match
            proxy_pass https://owncloud_prod_backend;
            proxy_http_version 1.1;
        }

	 location ~ ^/internal_owncloud/root(.*) {
	    internal;
            proxy_pass https://OC_BACKEND$1$is_args$args;
            proxy_http_version 1.1;
        }


	location = /cernbox/temporary.lhcv2015 {
           rewrite        ^ http://$server_name:8080/eos/user/l/lhcv2015? permanent;
}	



       # direct file download from the wopi server -> the files are protected by access token
       # the request looks like: GET /cernbox/wopi/download?access_token=....
       location ~ ^/cernbox/wopi/download(.*) {

            proxy_buffering off;
            proxy_pass https://wopi_backend/wopi/cbox/download$1$is_args$args;
            proxy_http_version 1.1;
            proxy_set_header Connection ""; # for keep-alive to work http://stackoverflow.com/questions/10395807/nginx-close-upstream-connection-after-request          

       }


       ### ALTERNATIVE
       ### PROJECT SPACE FOR DOCS AND PACKAGE REPOS
       ### handled by CERN Web Services Apache Server

       rewrite ^/cernboxdistr/(.*) /cernbox/doc/$1;

       location ~ ^/cernbox/doc(.*) {

        proxy_http_version 1.1;
        proxy_set_header   Host               EOS_NGINX_HOSTNAME;
        proxy_set_header   X-Real-IP          $remote_addr;
        proxy_set_header   X-Forwarded-For    $proxy_add_x_forwarded_for;

        proxy_set_header Connection ""; # for keep-alive to work http://stackoverflow.com/questions/10395807/nginx-close-upstream-connection-after-request                                                             

        proxy_redirect    https://EOS_NGINX_HOSTNAME/cernboxdistr/    https://EOS_NGINX_HOSTNAME/cernbox/doc/;
        proxy_pass https://cernboxdistr443_backend/cernboxdistr$1;
	}
	

	# this is the "Open CERNBox in browser" link in the desktop sync client
	# redirect it to the web server until this is changed in the branding process to point to cernbox.cern.ch directly 

	location = /cernbox/desktop {
	    # set maximum file size for upload/download                                                                                                                                                                           
            proxy_buffering off;
            proxy_pass https://OC_BACKEND/;
            #proxy_set_header   Authorization '';                                                                                                                                                                                 
            proxy_http_version 1.1;
            proxy_set_header Connection ""; # for keep-alive to work http://stackoverflow.com/questions/10395807/nginx-close-upstream-connection-after-request       
	}

	# this is the "Open CERNBox in browser" link in the desktop sync client
	# redirect it to the web server until this is changed in the branding process to point to cernbox.cern.ch directly 

	location = /cernbox/desktop/ {
	    # set maximum file size for upload/download                                                                                                                                                                           
            proxy_buffering off;
            proxy_pass https://OC_BACKEND/;
            #proxy_set_header   Authorization '';                                                                                                                                                                                 
            proxy_http_version 1.1;
            proxy_set_header Connection ""; # for keep-alive to work http://stackoverflow.com/questions/10395807/nginx-close-upstream-connection-after-request       
	}

	location ~ /cernbox/desktop/index.php/s/(.*) {
	   # this is used for shared links generated by desktop client

            proxy_buffering off;
            proxy_pass https://OC_BACKEND/index.php/s/$1;
            #proxy_set_header   Authorization '';                                                                                                                                                                                 
            proxy_http_version 1.1;
            proxy_set_header Connection ""; # for keep-alive to work http://stackoverflow.com/questions/10395807/nginx-close-upstream-connection-after-request       
	}


	location ~ /cernbox/mobile/index.php/s/(.*) {
	   # this is used for shared links by mobile clients

            proxy_buffering off;
            proxy_pass https://OC_BACKEND/index.php/s/$1;
            #proxy_set_header   Authorization '';                                                                                                                                                                                 
            proxy_http_version 1.1;
            proxy_set_header Connection ""; # for keep-alive to work http://stackoverflow.com/questions/10395807/nginx-close-upstream-connection-after-request       
	}


        # desktop sync client webdav traffic to EOS 
	# cernbox/desktop location exposes the full EOS namespace and shortcuts such as "home"

	 # SUBREQUEST-AUTH
         location = /cernbox/auth {

         proxy_http_version 1.1;
         proxy_set_header Connection ""; # for keep-alive to work http://stackoverflow.com/questions/10395807/nginx-close-upstream-connection-after-request                                                                                      
         proxy_pass http://auth_backend/api/v1/auth;

         proxy_pass_request_body off;
         proxy_set_header Content-Length "";

	 # FIXME: here we should be turning off any headers that may
	 # hinder the auth request (all conditional or range request
	 # headers) because, for simplcity, the auth server returns
	 # 200 by serving an empty file. This is of course a bit
	 # fragile and we shall review this in the future.
	 proxy_set_header Range "";
	 proxy_set_header Accept "text/html";

	 proxy_set_header Accept-Ranges "";
	 proxy_set_header If-Match "";
	 proxy_set_header If-Modified-Since "";
	 proxy_set_header If-None-Match "";
	 proxy_set_header If-Range "";
	 proxy_set_header If-Unmodified-Since "";	 
	 

         #proxy_set_header X-Original-URI $request_uri;
        }


	### DIRECT USE WEBDAV ENDPOINT

        location ~ ^/cernbox/webdav(.*) {

	    # SUBREQUEST-AUTH
            auth_request /cernbox/auth;

	    set $path $1;
	    
	    # this is a default mapping, we strip off remote.php/webdav stuff from the request within EOS MGM
	    # but we avoid creating paths with double slashes // (some internal functions such as quota did not like it)
	    set $CBOX_CLIENT_MAPPING "/cernbox/webdav/";
	    set $CBOX_SERVER_MAPPING "/";

	    if ($path ~ "^/home(.*)") {
	      set $relpath $1;

	      set $CBOX_CLIENT_MAPPING "cernbox/webdav/home";
	      set $CBOX_SERVER_MAPPING "EOS_HOME_MGM_PATH";
	      proxy_pass http://EOS_HOME_MGM_BACKEND/cernbox/webdav$path;
	    }

	    if ($path ~ "^/eos/user(.*)") {
	       proxy_pass http://eosuser_mgm_backend/cernbox/webdav$path;
	    }

            if ($path ~ "^/eos/project(.*)") {
               proxy_pass http://eosuser_mgm_backend/cernbox/webdav$path;
            }

	    if ($path ~ "^/eos/dev(.*)") {
	       proxy_pass http://eosdev_mgm_backend/cernbox/webdav$path;
	    }

	    if ($path ~ "^/eos/media(.*)") {
	       proxy_pass http://eosmedia_mgm_backend/cernbox/webdav$path;
	    }

	    if ($path ~ "^/eos/public(.*)") {
	       proxy_pass http://eospublic_mgm_backend/cernbox/webdav$path;
	    }

	    if ($path ~ "^/eos/scratch(.*)") {
	       proxy_pass http://eostest_mgm_backend/cernbox/webdav$path;
	    }

            if ($path ~ "^/eos/experiment(.*)") {
	       proxy_pass http://eospublic_mgm_backend/cernbox/webdav$path;
            }

            if ($path ~ "^/eos/theory(.*)") {
	       proxy_pass http://eospublic_mgm_backend/cernbox/webdav$path;
            }

            if ($path ~ "^/eos/engineering(.*)") {
	       proxy_pass http://eospublic_mgm_backend/cernbox/webdav$path;
            }


            proxy_set_header   Authorization '';
	    proxy_http_version 1.1;
	    proxy_set_header Connection ""; # for keep-alive to work http://stackoverflow.com/questions/10395807/nginx-close-upstream-connection-after-request

            proxy_set_header   Host               $host;
            proxy_set_header   X-Real-IP          $remote_addr;
            proxy_set_header   X-Forwarded-For    $proxy_add_x_forwarded_for;
            proxy_set_header      Remote-User $remote_user;

	    proxy_set_header CBOX-CLIENT-MAPPING $CBOX_CLIENT_MAPPING;
	    proxy_set_header CBOX-SERVER-MAPPING $CBOX_SERVER_MAPPING;

            client_body_buffer_size     128k;

            proxy_connect_timeout       90;
            proxy_send_timeout          90;
            proxy_read_timeout          90;
            proxy_buffer_size           128k;
            proxy_buffers               4 256k;
            proxy_busy_buffers_size     256k;
            proxy_temp_file_write_size  256k;
        }



	# SPECIAL AND COMMON URIs handled by blender

	location = /ocs/v1.php/cloud/capabilities {
	proxy_pass http://blender_backend/cernbox/blender/capabilities;
	}

	location = /cernbox/desktop/ocs/v1.php/cloud/capabilities {
	proxy_pass http://blender_backend/cernbox/blender/capabilities;
	}

	location = /cernbox/mobile/ocs/v1.php/cloud/capabilities {
	proxy_pass http://blender_backend/cernbox/blender/capabilities;
	}


	location = /status.php {
	proxy_pass http://blender_backend/cernbox/blender/status.php;
	}

	location = /cernbox/desktop/status.php {
	proxy_pass http://blender_backend/cernbox/blender/status.php;
	}

	location = /cernbox/mobile/status.php {
	proxy_pass http://blender_backend/cernbox/blender/status.php;
       	}


	location ~ ^/cernbox/desktop/blender/propfind:eos {

	internal;
	proxy_pass http://blender_backend;	    
	}	

	location ~ ^/cernbox/desktop/blender/propfind:root {

	internal;
	proxy_pass http://blender_backend;	    
	}	



	### DESKTOP SYNC CLIENT ENDPOINT
        location ~ ^/cernbox/desktop/remote.php/webdav(.*) {


	    # SUBREQUEST-AUTH
            auth_request /cernbox/auth;

	    set $path $1;

	    # any request for root goes to the eos top level namespace
	    # users are supposed to sync directly to specific paths

            # pretend that any request for /eos or /eos/ is a PROPFIND, Depth:1 to query for directories
	    # this is not enough to sync but it is enough to list directories and pick remote sync folder in the client configuration screen
            # in the future this could be used to distinguish the request methos: if ($request_method = PROPFIND ) 

	    # 207 (multistatus) is the return code

	    if ($path = "/") {
  	        rewrite ^ /cernbox/desktop/blender/propfind:root last;
           	}

	    if ($path = "/eos") {
  	        rewrite ^ /cernbox/desktop/blender/propfind:eos last;
		}

	    if ($path = "/eos/") {
  	        rewrite ^ /cernbox/desktop/blender/propfind:eos last;
		}	


	    # this is a default mapping, we strip off remote.php/webdav stuff from the request within EOS MGM
	    # NOTE: FIX POSTPONED FOR SYNC CLIENTS: avoid creating // (some internal functions such as quota did not like it)
	    set $CBOX_CLIENT_MAPPING "cernbox/desktop/remote.php/webdav";
	    set $CBOX_SERVER_MAPPING "";

	    if ($path ~ "^/home(.*)") {
	      set $relpath $1;

	      set $CBOX_CLIENT_MAPPING "cernbox/desktop/remote.php/webdav/home";
	      set $CBOX_SERVER_MAPPING "EOS_HOME_MGM_PATH";
	      proxy_pass http://EOS_HOME_MGM_BACKEND/cernbox/desktop/remote.php/webdav$path;
	    }

	    if ($path ~ "^/eos/user(.*)") {
	       proxy_pass http://eosuser_mgm_backend/cernbox/desktop/remote.php/webdav$path;
	    }

	    if ($path ~ "^/eos/project(.*)") {
	       proxy_pass http://eosuser_mgm_backend/cernbox/desktop/remote.php/webdav$path;
	    }

	    if ($path ~ "^/eos/dev(.*)") {
	       proxy_pass http://eosdev_mgm_backend/cernbox/desktop/remote.php/webdav$path;
	    }

	    if ($path ~ "^/eos/media(.*)") {
	       proxy_pass http://eosmedia_mgm_backend/cernbox/desktop/remote.php/webdav$path;
	    }

	    if ($path ~ "^/eos/public(.*)") {
	       proxy_pass http://eospublic_mgm_backend/cernbox/desktop/remote.php/webdav$path;
	    }

	    if ($path ~ "^/eos/lhcb(.*)") {
	       proxy_pass http://eoslhcb_mgm_backend/cernbox/desktop/remote.php/webdav$path;
	    }

	    if ($path ~ "^/eos/cms(.*)") {
	       proxy_pass http://eoscms_mgm_backend/cernbox/desktop/remote.php/webdav$path;
	    }

	    if ($path ~ "^/eos/scratch(.*)") {
	       proxy_pass http://eostest_mgm_backend/cernbox/desktop/remote.php/webdav$path;
	    }

	    if ($path ~ "^/eos/experiment(.*)") {
	       proxy_pass http://eospublic_mgm_backend/cernbox/desktop/remote.php/webdav$path;
	    }

	    if ($path ~ "^/eos/theory(.*)") {
	       proxy_pass http://eospublic_mgm_backend/cernbox/desktop/remote.php/webdav$path;
	    }

	    if ($path ~ "^/eos/engineering(.*)") {
	       proxy_pass http://eospublic_mgm_backend/cernbox/desktop/remote.php/webdav$path;
	    }

            proxy_set_header   Authorization '';
	    proxy_http_version 1.1;
	    proxy_set_header Connection ""; # for keep-alive to work http://stackoverflow.com/questions/10395807/nginx-close-upstream-connection-after-request

            proxy_set_header   Host               $host;
            proxy_set_header   X-Real-IP          $remote_addr;
            proxy_set_header   X-Forwarded-For    $proxy_add_x_forwarded_for;
            proxy_set_header      Remote-User $remote_user;

	    proxy_set_header CBOX-CLIENT-MAPPING $CBOX_CLIENT_MAPPING;
	    proxy_set_header CBOX-SERVER-MAPPING $CBOX_SERVER_MAPPING;
	    proxy_set_header CBOX-SKIP-LOCATION-ON-MOVE 1; # workaround for broken ne_request post_body handler in client v 1.7 (and legacy propagators in v 1.8)

            client_body_buffer_size     128k;

            proxy_connect_timeout       90;
            proxy_send_timeout          90;
            proxy_read_timeout          90;

            proxy_buffer_size           128k;
            proxy_buffers               4 256k;
            proxy_busy_buffers_size     256k;
            proxy_temp_file_write_size  256k;
   
        }

	# pass on REST API requests (sharing)

	 location ~ ^/ocs/(.*) {
	 proxy_pass http://blender_backend/cernbox/blender/ocs/$1$is_args$args;
         proxy_set_header Connection ""; # for keep-alive to work http://stackoverflow.com/questions/10395807/nginx-close-upstream-connection-after-request                                                          
	 }

	 location ~ ^/cernbox/desktop/ocs/(.*) {
	 proxy_pass http://blender_backend/cernbox/blender/ocs/$1$is_args$args;
         proxy_set_header Connection ""; # for keep-alive to work http://stackoverflow.com/questions/10395807/nginx-close-upstream-connection-after-request                                                          
	 }

	 location ~ ^/cernbox/mobile/ocs/(.*) {
	 proxy_pass http://blender_backend/cernbox/blender/ocs/$1$is_args$args;
         proxy_set_header Connection ""; # for keep-alive to work http://stackoverflow.com/questions/10395807/nginx-close-upstream-connection-after-request                                                          
	 }


	 location ~ ^/internal_owncloud/ocs/(.*) {
	    internal;
	    # we let the upstream backend server to handle translation of paths such as /eos/... or /home 
	    # the file specification which comes as a part of this request has one of these prefixes and they must be properly handled on the backend
	    # the rules and prefixes are defined in the upstream server and must be adapted accordingly in any changes 
	    proxy_set_header CBOX_CLIENT_MAPPING_ENABLED "1";
            proxy_pass https://OC_BACKEND/ocs/$1$is_args$args;
            #proxy_set_header   Authorization '';
            proxy_http_version 1.1;
#            proxy_set_header Connection ""; # for keep-alive to work http://stackoverflow.com/questions/10395807/nginx-close-upstream-connection-after-request                                                         
        }


        location ~ ^/cernbox/mobile/remote.php/webdav(.*) {


            # SUBREQUEST-AUTH
	    auth_request /cernbox/auth;

	    set $path $1;

	    set $CBOX_CLIENT_MAPPING "cernbox/mobile/remote.php/webdav";
	    set $CBOX_SERVER_MAPPING "EOS_HOME_MGM_PATH";
	    proxy_pass http://EOS_HOME_MGM_BACKEND/cernbox/mobile/remote.php/webdav$path;


            #proxy_set_header   Authorization '';
	    proxy_http_version 1.1;
	    proxy_set_header Connection ""; # for keep-alive to work http://stackoverflow.com/questions/10395807/nginx-close-upstream-connection-after-request

            proxy_set_header   Host               $host;
            proxy_set_header   X-Real-IP          $remote_addr;
            proxy_set_header   X-Forwarded-For    $proxy_add_x_forwarded_for;
            proxy_set_header      Remote-User $remote_user;

	    proxy_set_header CBOX-CLIENT-MAPPING $CBOX_CLIENT_MAPPING;
	    proxy_set_header CBOX-SERVER-MAPPING $CBOX_SERVER_MAPPING;

            client_body_buffer_size     128k;

            proxy_connect_timeout       90;
            proxy_send_timeout          90;
            proxy_read_timeout          90;

            proxy_buffer_size           128k;
            proxy_buffers               4 256k;
            proxy_busy_buffers_size     256k;
            proxy_temp_file_write_size  256k;

        }

	# pass on all requests (except the ones specified above) to the owncloud server 
	# this includes REST API requests (sharing), shared pages web access etc.
	 location ~ ^/cernbox/mobile(.*) {
            proxy_pass https://OC_BACKEND$1$is_args$args;
            #proxy_set_header   Authorization '';
            proxy_http_version 1.1;
            proxy_set_header Connection ""; # for keep-alive to work http://stackoverflow.com/questions/10395807/nginx-close-upstream-connection-after-request                                                         
        }


        # Proxy download 
        location ~* ^/internal_redirect/(.*):(.*?)/(.*) {

            # Do not allow people to mess with this location directly
            # Only internal redirects are allowed
            internal;
            
            # Necessary when using variable proxy_pass directive
            #resolver 137.138.16.5 137.138.17.5;
	    resolver 127.0.0.1; # use local caching daemon
	    resolver_timeout 3600s;

            # Location-specific logging
            access_log /var/log/nginx/ldap.internal_redirect.access.log main;
            error_log  /var/log/nginx/ldap.internal_redirect.error.log  error; #debug

            # Extract download url from the request
            set $download_host $1;
            set $download_port $2;
            set $download_uri  $3;

            # Compose download url
            set $download_url http://$download_host:$download_port/$download_uri?$args;

            # Set download request headers
            proxy_set_header Host          $download_host:$download_port;
            proxy_set_header Authorization '';


	    # enable a server-side workaround for missing OC-Total-Length header bug (https://github.com/owncloud/android/issues/900) 
	    # the server patch is enabled when the header is defined (any value)
            # this is needed to be set here because this is a feature of EOS FST

	    set $CBOX_CHUNKED_ANDROID_ISSUE_900 ""; 

	    if ($http_user_agent ~ Android)
	     {
	       set $CBOX_CHUNKED_ANDROID_ISSUE_900 "enabled"; 
             }

	     proxy_set_header CBOX-CHUNKED-ANDROID-ISSUE-900 $CBOX_CHUNKED_ANDROID_ISSUE_900; 


            # The next two lines could be used if your storage 
            # backend does not support Content-Disposition 
            # headers used to specify file name browsers use 
            # when save content to the disk
            # proxy_hide_header Content-Disposition;
            # add_header Content-Disposition 'attachment; filename="$args"';

            # Do not touch local disks when proxying 
            # content to clients
            proxy_max_temp_file_size 8000m;


            # If we are redirecting externally, return the redirect response
            # back to the client.
            set $redirect_externally EOS_NGINX_REDIRECT_EXTERNALLY;
            if ($redirect_externally)
            {
                return 307 $download_url;
            }

            # Otherwise, download the file directly from the backend and stream
            # it to the client.
            proxy_pass $download_url;
        }
    }


     # Virtual host 4: SPECIAL ENDPOINT FOR STREAMING VIDEOS LHC RESTART
    server {

        server_name  EOS_NGINX_HOSTNAME;
        listen       8080;

        access_log /var/log/nginx/8080.access.log main;
        error_log  /var/log/nginx/8080.error.log error; # debug; #error;

#        location ~ ^/eos/(.*) {

	 location ~ ^/eos/user/c/cboxtu/(.*) {

	    set $path $1;

	    # this is a default mapping, we strip off remote.php/webdav stuff from the request within EOS MGM
	    set $CBOX_CLIENT_MAPPING "";
	    set $CBOX_SERVER_MAPPING "";

	    proxy_pass http://EOS_HOME_MGM_BACKEND/eos/user/c/cboxtu/$path;

            proxy_set_header   Authorization '';
	    proxy_http_version 1.1;
	    proxy_set_header Connection ""; # for keep-alive to work http://stackoverflow.com/questions/10395807/nginx-close-upstream-connection-after-request

            proxy_set_header   Host               $host;
            proxy_set_header   X-Real-IP          $remote_addr;
            proxy_set_header   X-Forwarded-For    $proxy_add_x_forwarded_for;
	    proxy_set_header      Remote-User "cboxgst";

	    proxy_set_header CBOX-CLIENT-MAPPING $CBOX_CLIENT_MAPPING;
	    proxy_set_header CBOX-SERVER-MAPPING $CBOX_SERVER_MAPPING;
            client_body_buffer_size     128k;

            proxy_connect_timeout       90;
            proxy_send_timeout          90;
            proxy_read_timeout          90;

            proxy_buffer_size           128k;
            proxy_buffers               4 256k;
            proxy_busy_buffers_size     256k;
            proxy_temp_file_write_size  256k;

        }


	 location ~ ^/eos/user/l/lhcv2015/(.*) {

	    set $path $1;

	    # this is a default mapping, we strip off remote.php/webdav stuff from the request within EOS MGM
	    set $CBOX_CLIENT_MAPPING "";
	    set $CBOX_SERVER_MAPPING "";

	    proxy_pass http://EOS_HOME_MGM_BACKEND/eos/user/l/lhcv2015/$path;

            proxy_set_header   Authorization '';
	    proxy_http_version 1.1;
	    proxy_set_header Connection ""; # for keep-alive to work http://stackoverflow.com/questions/10395807/nginx-close-upstream-connection-after-request

            proxy_set_header   Host               $host;
            proxy_set_header   X-Real-IP          $remote_addr;
            proxy_set_header   X-Forwarded-For    $proxy_add_x_forwarded_for;
	    proxy_set_header      Remote-User "cboxgst";

	    proxy_set_header CBOX-CLIENT-MAPPING $CBOX_CLIENT_MAPPING;
	    proxy_set_header CBOX-SERVER-MAPPING $CBOX_SERVER_MAPPING;
            client_body_buffer_size     128k;

            proxy_connect_timeout       90;
            proxy_send_timeout          90;
            proxy_read_timeout          90;

            proxy_buffer_size           128k;
            proxy_buffers               4 256k;
            proxy_busy_buffers_size     256k;
            proxy_temp_file_write_size  256k;

        }


        # Proxy download 
        location ~* ^/internal_redirect/(.*):(.*?)/(.*) {

            # Do not allow people to mess with this location directly
            # Only internal redirects are allowed
            internal;
            
            # Necessary when using variable proxy_pass directive
            #resolver 137.138.16.5 137.138.17.5;
	    resolver 127.0.0.1; # use local caching daemon
	    resolver_timeout 3600s;

            # Location-specific logging
            access_log /var/log/nginx/8080.internal_redirect.access.log main;
            error_log  /var/log/nginx/8080.internal_redirect.error.log  error; #debug

            # Extract download url from the request
            set $download_host $1;
            set $download_port $2;
            set $download_uri  $3;

            # Compose download url
            set $download_url http://$download_host:$download_port/$download_uri?$args;

            # Set download request headers
            proxy_set_header Host          $download_host:$download_port;
            proxy_set_header Authorization '';


            # The next two lines could be used if your storage 
            # backend does not support Content-Disposition 
            # headers used to specify file name browsers use 
            # when save content to the disk
            # proxy_hide_header Content-Disposition;
            # add_header Content-Disposition 'attachment; filename="$args"';

            # Do not touch local disks when proxying 
            # content to clients
            proxy_max_temp_file_size 8000m;


	    # Redirect externally.
            return 307 $download_url;
        }
    }



    # Virtual host to redirect all plain HTTP requests to HTTPS ones
    server {
       server_name    EOS_NGINX_HOSTNAME;
       listen         80;

       error_log  /var/log/nginx/http.error.log  error; 

       ### ALTERNATIVE
       ### PROJECT SPACE FOR DOCS AND PACKAGE REPOS                                                                                                                                                                    
       ### handled by CERN Web Services Apache Server                                                                                                                                                                   

       rewrite ^/cernboxdistr/(.*) /cernbox/doc/$1;

       location ~ ^/cernbox/doc(.*) {

        proxy_http_version 1.1;
        proxy_set_header   Host               EOS_NGINX_HOSTNAME;
        proxy_set_header   X-Real-IP          $remote_addr;
        proxy_set_header   X-Forwarded-For    $proxy_add_x_forwarded_for;

        proxy_set_header Connection ""; # for keep-alive to work http://stackoverflow.com/questions/10395807/nginx-close-upstream-connection-after-request                                                             

        proxy_redirect    http://EOS_NGINX_HOSTNAME/cernboxdistr/    http://EOS_NGINX_HOSTNAME/cernbox/doc/;
        proxy_pass http://cernboxdistr80_backend/cernboxdistr$1;
	}



       location / {
           rewrite        ^ https://$server_name$request_uri? permanent;
	   }	   
    }
}
