# Safety mechanism, always backup current config file
if [ -f /etc/nginx/nginx.blender.conf ]; then
/usr/bin/install -C --backup=numbered /etc/nginx/nginx.blender.conf /etc/nginx/nginx.blender.conf.BACKUP
fi

# Configuration file for the nginx service

ulimit -n 10000

NGINX_CONF_FILE=/etc/nginx/nginx.blender.conf

# Make a copy of the template config file
cp /etc/nginx/nginx.blender.conf.template $NGINX_CONF_FILE

export EOS_NGINX_HOSTNAME='<%= @eos_nginx_hostname%>'
perl -pi -e 's/EOS_NGINX_HOSTNAME/$ENV{EOS_NGINX_HOSTNAME}/g'    $NGINX_CONF_FILE

echo "written config file" ${NGINX_CONF_FILE}
